# OS files
.DS_Store
Thumbs.db
desktop.ini

# Editor files
*.swp
*.swo
*.swn
.idea/
.vscode/
*.code-workspace

# Logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Build outputs
dist/
build/

# Temporary files
*.tmp
.cache/
